@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

button {
  cursor: pointer;
}

.shimmer {
  background: linear-gradient(120deg, #e7e8ea 20%, #ffffff 30%, #e7e8ea 40%);
  background-size: 200% 100%;
  animation: shimmer 2s infinite linear;
  filter: blur(1px);
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.toggle-border:last-child {
  margin-bottom: 0;
}

.toggle-border input[type="checkbox"] {
  display: none;
}

.toggle-border label {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 20px;
  background: #f5f2f2;
  border-radius: 80px;
  cursor: pointer;
  box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  top: 2px;
}

.toggle-border input[type="checkbox"]:checked + label {
  background: rgb(112, 216, 112);
}

.handle {
  position: absolute;
  top: -8px;
  left: -10px;
  width: 35px;
  height: 35px;
  background-color: white;
  border: 3px solid green;
  border-radius: 20%;
  box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.4);
  transition: left 0.4s;
}

.toggle-border input[type="checkbox"]:checked + label > .handle {
  left: calc(100% - 35px + 10px);
}
