@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  font-family: "Concert One", sans-serif;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

button {
  cursor: pointer;
}

.shimmer {
  background: linear-gradient(120deg, #e7e8ea 20%, #ffffff 30%, #e7e8ea 40%);
  background-size: 200% 100%;
  animation: shimmer 2s infinite linear;
  filter: blur(1px);
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* toggle buttons veg/non-veg*/
.toggle-border,
.toggle-border-main-veg,
.toggle-border-main-nonveg {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 20px;
}

.toggle-border input[type="checkbox"],
.toggle-border-main-veg input[type="checkbox"],
.toggle-border-main-nonveg input[type="checkbox"] {
  display: none;
}

/* Base styles for labels */
.toggle-border label,
.toggle-border-main-veg label,
.toggle-border-main-nonveg label {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 20px;
  background: #f5f2f2;
  border-radius: 80px;
  cursor: pointer;
  box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.3);
  transition: background 0.5s;
}

.toggle-border {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 20px;
}

.toggle-border-main-veg {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 20px;
}

.toggle-border-main-nonveg {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 20px;
}

.toggle-border input[type="checkbox"] {
  display: none;
}

.toggle-border-main-veg input[type="checkbox"] {
  display: none;
}

.toggle-border-main-nonveg input[type="checkbox"] {
  display: none;
}

.toggle-border label {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 13px;
  background: #f5f2f2;
  border-radius: 80px;
  cursor: pointer;
  box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.3);
  transition: background 0.5s;
}

.toggle-border-main-veg label {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 20px;
  background: #f5f2f2;
  border-radius: 80px;
  cursor: pointer;
  box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.3);
  transition: background 0.5s;
}

.toggle-border-main-nonveg label {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 20px;
  background: #f5f2f2;
  border-radius: 80px;
  cursor: pointer;
  box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.3);
  transition: background 0.5s;
}

.handle-veg,
.handle-nonVeg {
  position: absolute;
  top: -6px;
  left: -10px;
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 20%;
  box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.4);
  transition: left 0.4s;
}

.handle-main-veg {
  position: absolute;
  top: -8px;
  left: -10px;
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 20%;
  box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.4);
  transition: left 0.4s;
}

.handle-main-nonveg {
  position: absolute;
  top: -8px;
  left: -10px;
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 20%;
  box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.4);
  transition: left 0.4s;
}

.handle-veg {
  border: 3px solid green;
}

.handle-nonVeg {
  border: 3px solid red;
}

.handle-main-veg {
  border: 3px solid green;
}

.handle-main-nonveg {
  border: 3px solid red;
}

.toggle-border input[type="checkbox"]:checked + label.veg-label {
  background: rgb(112, 216, 112);
}

.toggle-border input[type="checkbox"]:checked + label.non-veg-label {
  background: rgb(247, 83, 83);
}

.toggle-border-main-veg input[type="checkbox"]:checked + label {
  background: rgb(112, 216, 112);
}

.toggle-border-main-nonveg input[type="checkbox"]:checked + label {
  background: rgb(243, 138, 138);
}

.toggle-border input[type="checkbox"]:checked + label .handle-veg {
  left: calc(100% - 20px);
}

.toggle-border input[type="checkbox"]:checked + label .handle-nonVeg {
  left: calc(100% - 20px);
}

.toggle-border-main-veg
  input[type="checkbox"]:checked
  + label
  .handle-main-veg {
  left: calc(100% - 20px);
}

.toggle-border-main-nonveg
  input[type="checkbox"]:checked
  + label
  .handle-main-nonveg {
  left: calc(100% - 20px);
}

@keyframes bounce-in {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  50% {
    transform: translateY(-10px);
    opacity: 1;
  }
  70% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}

.toaster {
  position: fixed;
  bottom: 0;
  background-color: #f97316;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 10;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.toaster-enter {
  animation: bounce-in 0.3s ease-out;
}

.toaster-exit {
  animation: bounce-out 0.4s ease-in;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.btn-bounce {
  animation: bounce 4s infinite;
}

.delay-1 {
  animation-delay: 1s;
}

.delay-2 {
  animation-delay: 0.5s;
}

/* back to home button*/
.btn-backhome {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: hsla(123, 80%, 45%, 1);
  --btn-bg-2: hsla(145, 63%, 42%, 1);
  --btn-bg-color: hsla(360, 100%, 100%, 1);
  --radii: 2em;
  cursor: pointer;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-weight: 500;
  transition: 0.5s ease-in-out;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow: 0px 0px 20px rgba(128, 255, 128, 0.5),
    0px 5px 5px -1px rgba(34, 139, 34, 0.25),
    inset 4px 4px 8px rgba(173, 255, 47, 0.5),
    inset -4px -4px 8px rgba(0, 128, 0, 0.35);
}

.btn-backhome:hover {
  background-position: left bottom;
  background-image: linear-gradient(
    325deg,
    hsla(110, 90%, 40%, 1) 0%,
    hsla(140, 70%, 50%, 1) 55%,
    hsla(110, 90%, 40%, 1) 90%
  );
  box-shadow: 0px 0px 25px rgba(102, 255, 102, 0.8),
    0px 8px 12px -1px rgba(34, 139, 34, 0.4),
    inset 6px 6px 12px rgba(144, 238, 144, 0.7),
    inset -6px -6px 12px rgba(0, 100, 0, 0.5);
}

@media (prefers-reduced-motion: reduce) {
  .btn-backhome {
    transition: linear;
  }
}

/* login button */
.login-button {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  height: 2.5rem;
  background: #0e0e0e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: var(--size, 1rem);
  font-weight: 500;
}

.login-button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.login-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

/* animation effects*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 1s infinite;
}

.add-btn-hover-pulse:hover {
  animation: pulse 1s infinite;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-in {
  animation: zoomIn 0.5s ease-in;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slideUp 0.5s ease forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down {
  animation: slideDown 0.5s ease-out;
}

@keyframes slideRight {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-right {
  animation: slideRight 0.5s ease-out;
}

@keyframes slideLeft {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-left {
  animation: slideLeft 0.5s ease-out;
}

@keyframes bounceDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  60% {
    transform: translateY(20px);
    opacity: 1;
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce-down {
  animation: bounceDown 0.6s ease-out;
}

@keyframes backAndForth {
  0%,
  100% {
    transform: translateX(0); /* Start and end at the original position */
  }
  50% {
    transform: translateX(5px); /* Move to the right */
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  100% {
    transform: rotate(360deg); /* Rotate a full circle */
  }
}

.rotate {
  animation: rotate 20s linear infinite; /* Apply the rotating animation infinitely */
}

.back-and-forth {
  animation: backAndForth 1s infinite ease-in-out; /* Apply the animation infinitely */
}

/* Payment Loader */
.payment-loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #0071e2;
  width: 10rem;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.payment-loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
